<div class="container">
  <h4>*必填欄位</h4>
  <h2>可以讓你改一下</h2>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST">
    <input type="text" placeholder="name" name="name" value="{{ record.name }}">
    <input type="date" placeholder="date" name="date" value="{{ record.date }}">
    <label for="Category">Category</label>
    <select id="inputState" class="form-control" name="category">
      {{#each categories}}
      <option {{#ifcond ../record.category "===" this.category}}selected{{/ifcond}} value={{this.category}}>
        {{this.category}}</option>
      {{/each}}
    </select>
    <input type="text" placeholder="amount" name="amount" value="{{ record.amount }}">
    <button type="submit">Save</button>
    <a href="/">back</a>
  </form>
</div>