<div class="container">
  <div class="input">
    <form action="">
      <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
        <option disabled selected>支出類別</option>
        {{#each categories}}
        <option value={{this.category}}>{{this.category}}</option>
        {{/each}}
      </select>
    </form>
  </div>
  <div>
    <h4>總金額</h4>
    <h1>16888</h1>
  </div>
  <div>
    <ul>
      {{#each records}}
      <li>
        {{this.name}}
        {{this.category}}
        {{this.date}}
        {{this.amount}}
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    <a href="./records/new"><button>哎呀，又破財惹</button></a>
  </div>
</div>