<div class="container bg-light mt-3">
  <div class="row">
    <div class="col-8">
      <form action="/sort" method="GET">
        <select name="sort" class="form-control btn-outline-secondary" id='inputType' onchange="this.form.submit()"
          style="cursor: pointer; text-align: center; text-align-last: center">
          <option selected value="all">所有支出類別</option>
          {{#each categories}}
          <option {{#ifcond ../this.sort "===" this.category}}selected{{/ifcond}} value={{this.category}}>
            {{this.category}}</option>
          {{/each}}
        </select>
      </form>
    </div>
    <div class="col-8">
      <h4>總金額</h4>
      <h1 class="text-warning">{{ sum }}</h1>
    </div>
    <div class="col-12">
      <ul class="list－group pl-0">
        {{#each records}}
        <li class="list-group-item border-0 py-0">
          <div class="row">
            <div class="col-8 border border-info rounded">
              <div class="row">
                <div class="col-6">
                  <span style="display: inline; vertical-align: middle;width:50px;height:auto;">
                    {{#each ../categories}}
                    {{#ifcond ../this.category "===" this.category}}<i class="{{this.icon}}"></i>{{/ifcond}}
                    {{/each}}
                  </span>
                  <h5 style="display: inline; vertical-align: middle;">{{this.name}}</h5>
                  <h6>{{this.date}}</h6>
                </div>
                <div class="col-6 align-self-center text-center">
                  <h4 class="text-warning">{{this.amount}}</h4>
                </div>
              </div>
            </div>
            <div class="col-4 align-self-center px-0">
              <div class="row">
                <div class="col-6 px-0 text-right">
                  <a class="btn btn-primary" href="./records/{{ this._id }}/edit">改一下</a>
                </div>
                <div class="col-6 px-0">
                  <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
                    <button class="btn btn-danger" onclick="return confirm ('確定擦掉這個小秘密?')" type="submit">擦掉</button>
                </div>
              </div>
            </div>
          </div>
          </form>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>