<div class="container">
  <div class="input">
    <form action="/sort" method="GET">
      <select name="sort" class="form-control btn-outline-secondary" id='inputType' onchange="this.form.submit()"
        style="cursor: pointer; text-align: center; text-align-last: center">
        <option selected value="all">所有支出類別</option>
        {{#each categories}}
        <option {{#ifcond ../this.sort "===" this.category}}selected{{/ifcond}} value={{this.category}}>
          {{this.category}}</option>
        {{/each}}
      </select>
    </form>
  </div>
  <div>
    <h4>總金額</h4>
    <h1>{{ sum }}</h1>
  </div>
  <div>
    <ul class="list－group">
      {{#each records}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-auto mr-auto">
            <span style="display: inline; vertical-align: middle;width:50px;height:auto;">
              {{#each ../categories}}
              {{#ifcond ../this.category "===" this.category}}<i class="{{this.icon}}"></i>{{/ifcond}}
              {{/each}}
            </span>
            <h4 style="display: inline; vertical-align: middle;">{{this.name}}</h4>
            {{this.category}}
            {{this.date}}
            {{this.amount}}
            <a href="./records/{{ this._id }}/edit">edit</a>
            <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
              <button type="submit">delete</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    <a href="./records/new"><button>哎呀，又破財惹</button></a>
  </div>
</div>